* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
}

body,
html {
    height: 100%;
    margin: 0px;
}

.similar {
    font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div.form {
    float: left;
}

h1 {
    border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

hr {
    margin-bottom: 1px;
}

.date,
.info {
    color: grey;
}

.comment:nth-child(even) {
    background-color: whitesmoke;
}

#content {
    display: inline-block;
    float: left;
    padding: 40px;
    padding-top: 20px;
    height: 100%;
    text-align: justify;
    color: white;
}


#sidebar {
    display: inline-block;
    float: left;
    padding: 20px;
    height: 100%;
}

#content {
    width: 75%;
    background-color: #333;
}

#sidebar {
    width: 25%;
  background-color: #000;
    color: white;
}