* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
}

body,
html {
    height: 100%;
  margin: 0;
}

.similar {
    font-size: 24px;
}

div.form {
    float: left;
}

h1 {
    border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.date,
.info {
    color: grey;
}

.comment:nth-child(even) {
    background-color: whitesmoke;
}

#content {
    display: inline-block;
    float: left;
    padding: 40px;
    padding-top: 20px;
    height: 100%;
    text-align: justify;
}

#sidebar {
    display: inline-block;
    float: left;
    padding: 20px;
    height: 100%;
}

#content {
    width: 75%;
}

#sidebar {
    width: 25%;
  background-color: lightgrey;
}